* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

body {
  margin: 0;
  /* font-family: 'Spoqa Han Sans', 'Sans-serif'; */
}

input::placeholder {
  color: rgb(162, 162, 162);
}
