.task {
    margin-bottom: 0.4rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  
  .task_checkbox {
    width: 1.2rem;
    cursor: pointer;
  }
  
  .task_checkboxDone {
    width: 1.2rem;
    cursor: pointer;
  }
  
  .task_text {
    width: 100%;
    margin-left: 0.6rem;
    color: white;
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
  }
  
  .task_text.isDone {
    text-decoration: line-through;
    color: rgb(176, 176, 176);
  }
  
  .task_delete {
    margin-left: 0.5rem;
    width: 1rem;
    cursor: pointer;
  }
  
  .addTask {
    margin: 0.4rem 0 0 0;
    display: flex;
    justify-content: flex-start;
    text-decoration: underline;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9rem;
  }
  