.card_tasks {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    min-height: 4.8rem;
    max-height: 4.8rem;
    overflow: hidden;
}

.card_tasks.isSpread {
  max-height: none;
}

.bottomSide{
  display: flex;
  
}

.addTask{
  width:15%;
  cursor: pointer;
  text-decoration: underline;
  color:white;
  margin-bottom: 1.2rem;
  bottom: 0;
}

@media screen and (max-width: 48rem) {

  .addTask{
    width:30%;
  }
}
