.page {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  background: #f8f8f8;
  width: 47.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem 20rem 1.2rem;
}

.date {
  margin: 0;
  padding: 0;
  /* margin-left: 1.75rem; */
  margin-top: 5.5rem;
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 2rem;
  line-height: 2rem;
  color: #00648f;
  font-weight: bold;
  cursor: pointer;
}

/* media */
@media screen and (max-width: 48rem) {
  .container {
    width: 100%;
    min-width: 21rem;
  }

  .date {
    margin-top: 7.5rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}
