.page {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  background: #f8f8f8;
  width: 47.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem 60rem 1.2rem;
}

.date {
  margin: 0;
  padding: 0;
  /* margin-left: 1.75rem; */
  margin-top: 5.5rem;
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 2rem;
  line-height: 2rem;
  color: #00648f;
  font-weight: bold;
}

.msg_container {
  margin-top: 30vh;
  text-align: center;
}

.noCardMsg {
  color: #0084bc;
  font-size: 1.2rem;
  margin: 0;
}

.noCardMsg2 {
  color: #0084bc;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  text-decoration: underline;
}

/* media */
@media screen and (max-width: 48rem) {
  .container {
    width: 100%;
    min-width: 21rem;
  }

  .date {
    text-align: center;
    margin-top: 5.5rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .noCardMsg,
  .noCardMsg2 {
    font-size: 1rem;
  }
}
